.chart-item-list {
  width: 100%;
  padding: 10px 20px 0px;
}

.chart-item {
  width: 21px;
  height: 140px;
  background: #BAA5ED;
  border: 1px solid #000000;
  border-radius: 50px;
  position: relative;
}

.fill {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #3D15A9;
  border-radius: 50px;
}